*{
	font-family: 'Arvo', 'serif' !important; 
}
section {
    font-size: 1em;
	background-color: #f0f0f0;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
p{
	text-indent: 5%;
}
#foreground{
    position:relative;
    top:300px;
    z-index: 50;
    background-color: #FFFFFF;
}
#innerforeground{
	margin: 0 auto;
    width: 80%;
}
#background{
	position:fixed;
    top:0px;
    z-index: 1;
    width: 100%;
}
#links{
    display: none;
}